.task{
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16);
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    touch-action: none;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.drag-handle {
    cursor: grab;
    margin-right: 8px;
}
